.holder-header-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-category-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 40%;
    padding: 10px 0;
}
.category-btn{
    background-color: transparent;
    color: white;
    padding: 3px 15px;
    border: 1px solid white;
    border-radius: 20px;
    transition: all 0.3s;
}
.category-btn.active,.category-btn:hover{
    color: black;
    background-color: #fff;
}
.round {
    position: relative;
  }
  
  .checkbox-header-in {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    margin-left: 5px;
    position: absolute;
    top: 0;
    width: 28px;
  }
  .checkbox-header-out{
    margin-left: 50px;
    cursor: pointer;
    font-weight: bold;
  }
  .checkbox-header-in:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + .checkbox-header-in {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }

  .round input[type="checkbox"]:checked + .checkbox-header-out {
    color: white;
  }
  
  .round input[type="checkbox"]:checked + .checkbox-header-in:after {
    opacity: 1;
  }
  .title-header{
    padding: 12px 0;
  }
  .title-header h2{
    font-size: 25px;
    color: white;
  }
  .title-header p{
    font-size: 15px;
  }
  .white{
    color: white;
  }